
@{
    ViewData["Title"] = "Index";
}
@model List<Student>

<h1>Students</h1>
<table>
    <thead>
        <tr>
           <th>Id</th>
        </tr>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
            </tr>

        }
    </tbody>
</table>

